pydantic_core==2.20.1
python-dotenv==1.0.1
openpyxl==3.1.5
xlsxwriter==3.2.0
pandas==2.2.2
langchain-openai==0.2.9
langchain-qdrant==0.2.0
haystack_ai==2.4.0
pymilvus==2.4.5
streamlit==1.38.0
langchain_community==0.3.8
milvus_model==0.2.10
qdrant_client==1.12.1
langchain_qdrant==0.2.0
sentence_transformers==3.3.1
google.generativeai
fastembed==0.4.2
joblib